.wrapper
  .side-ber
    .side-ber__user
      .side-ber__box
        %p.side-ber__box__left hayama
        %ul.side-ber__box__right
          %li.side-ber__box__right__mark1
            = icon('fas', 'edit', class: "#")
          %li.side-ber__box__right__mark2
            = icon('fa', 'cog', class: "#")
    .side-ber__groups
      .side-ber__group
        %p.side-ber__group__name ドラゴンボール
        %p.side-ber__group__message まだメッセージがありません
           




